@charset "utf-8";
/* CSS to make the 456 menu work */

#module-menu {
    width: 70px;
    position: relative;
}

#l4 {
    width: 20px;
    height: 32px;
    background-image:url('/sources/img/sprites/4a.png');
    background-position: 20px 0px;   
    display:block;
    z-index: 10;
        position: absolute;
    bottom: 31px;
    left: 13px;
}

#l4:hover, #l4:active {
    width: 20px;
    height: 32px;
    background-image:url('/sources/img/sprites/4a.png');
    background-position: 0px; 0px;
    z-index: 10;
}

#l5 {
    width: 23px;
    height: 32px;
    background-image:url('/sources/img/sprites/5a.png');
    background-position: 23px 0px;   
    display:block;
    z-index: 20;
    position: absolute;
    left: 34px;
    bottom: 16px;
}

#l5:hover, #l5:active {
    width: 24px;
    height: 32px;
    background-image:url('/sources/img/sprites/5a.png');
    background-position: 0px; 0px;
    z-index: 20;
}

#l6 {
    width: 22px;
    height: 32px;
    background-image:url('/sources/img/sprites/6a.png');
    background-position: 22px 0px;   
    display:block;
    z-index: 30;
    position: absolute;
    bottom: -12px;
    left: 15px;
}

#l6:hover, #l6:active {
    width: 22px;
    height: 32px;
    background-image:url('/sources/img/sprites/6a.png');
    background-position: 0px; 0px;
    z-index: 30;
}