@charset "utf-8";
/* Author: Martin Price 2015 */

/* --------- [ CSS RESET ] ---------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.clearfix { display: inline-block; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------- */

html {
    height: 100%;
}

body {
    background-image: url(../../sources/img/graph_bg.gif);
    background-repeat: repeat;
    padding-left: 60px;
}

h2 {
    white-space: nowrap;
    diplay: inline-block;
    padding: 5px;
    height: 40px;
    border: solid 3.5px #000;
    color: #f00;
    background-color: #fff;
    font-family: helvetica, arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
}

header {
    width: 70px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #212121;
}

header ul {
    margin-left: 70px;
    margin-top: -60px;
}

header li {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    margin: 5px;
    border: solid 6px #000;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

header li a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.hamburger-icon {
    position: relative;
    padding-left: 15px;
    padding-top: 15px;
}

.menuclick {
    color: #fff;
}

.responsive-menu {
	display: none;
}
 
.expand {
	display: block !important;
}

.main-identity-novideo {
    height: 95vh;
    width: auto;
    margin: auto auto;
    display: none;
}

.clearfix {
    display: inline-block;
}

#news-home {
    width: 85vw;
    margin: 0 auto;
    display: block;
}

#news-home h2 {
    width: 130px;
    margin-bottom: 40px;
}

/* <div class="story">
                <h3>%headline%</h3>
                <h4>%timestamp%</h4>
                <p>%blurb%</p>
                <p class="read-more">%link%</p>
            </div>
*/

.story {
    display: block;
    width: 27%;
    max-width: 250px;
    float: left;
    margin-right: 100px; 
    margin-bottom: 20px;
}

.story h3 {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.35em;
    margin-bottom: 10px;
}

.story h4 {
    font-family: helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.story p {
    font-family: helvetica, arial, sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    padding-bottom: 15px;
    max-width: 270px;
} 

.read-more {
    display: block;
    height: 0.3em;
    float: right;
    text-align: right;
    text-decoration: none;
    color: #f00;
    border-bottom: solid 2px #f00;
    margin-bottom: 3px;
}

.read-more a {
    text-decoration: none;
    color: #f00;
}

#team h2 {
    width: 360px;
    position: relative;
    margin-bottom: 100px;
}

.member {
    width: 180px;
    height: 200px;
    float:left;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
}

#team {
    margin-left: 130px;
    margin-top: 80px;
}

.photo {
    width: 110px;
   height: 110px;
   -moz-border-radius: 55px; 
   -webkit-border-radius: 55px; 
   border-radius: 55px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.member h5 {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;  
    padding-bottom: 5px;
}

.member h6 {
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    color: #a4a4a4;
}

#teammembers {
    width: 100%;
}

#level4 h5 {
    margin-top: 20vh;
}

#vid-home {
    height: 100vh;
}

#background-video {
    height: 100vh;
    width: auto;
    z-index: -100;
}