@charset "utf-8";
/* Author: Martin Price 2015 */
/* CSS File for individual elements & the module tables inc. animations */

#module-links {
    position: fixed;
    bottom: 40px;
}

#module-links img {
    width: 60px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.fullscreen-modules {
    width: 95vw;
    height: 100vh;
}

#level4 h2 {
    width: 420px;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    position: relative;
    left: 50px;
    z-index: 998;
    margin-bottom: 190px;
}

#level4 {
    position:relative;
    padding-top: 0px !important;
    background-image: url("../../sources/img/level4-background.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

#level5 {
    background-image: url("../../sources/img/level5-background.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

#level6 {
    background-image: url("../../sources/img/level6-background.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

#team h2 {
    width: 347px;
}

/* Page Title */

#level4 h2{
    width: 425px;
    position: relative;
    left: 30px;
    top: 20px;
    margin-bottom: 10px;
}

/* Basic Table Elements */
.module-table {
    width: 700px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: helvetica, arial, sans-serif;
}

.module-table h5 {
    font-family: helvetica, arial, sans-serif;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    height: 50px;
    color: #e84545;
    margin-bottom: 40px;
}

.twosem {
    width: 700px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding-top: 10px;
}

/* 15 Credit Semester Blocks */
.leftsem1 {
    width: 345px;
    float: left;
}

.rightsem2 {
    width: 345px;
    float: right;
}

.onesem {
    background-color: #e84545;
    width: 345px !important;
 line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -0.5px;
    padding-top: 10px;
    
}

/* Level (4/5/6) Titles */
#level5 h5 {
    color: #69c5d8;
    padding-top: 240px;
}

#level6 h5 {
    color: #ffd900;
    padding-top: 240px;
}

/* Module Level Colour Backgrounds */
#level5 .twosem, #level5 .onesem {
    background-color: #69c5d8;
}

#level6 .twosem, #level6 .onesem {
    background-color: #ffd900;
}

#level4 .twosem, #level4 .onesem {
    background-color: #e84545;
}

/* EXPAND STATES */
.twosem-expand {
    margin-bottom: 10px !important;
    line-height: 1.4em;
    display: block;
}

.twosem-expand p, .onesem-expand p {
    padding: 7.5px;
}

.onesem-expand {
    line-height: 1.4em;
    display: block;
    white-space: nowrap;
    float: left;
    width: 100%;
}

/* Expand Paragraph Formatting */
p {
    margin: 15px;
    font-size: 10pt;
    line-height: 1.3;
    font-weight: normal;
    letter-spacing: 0.2px;
    text-align: left;
}

/* Adds bg-colour to the level 4, 5 & 6 expands */
#level4 .twosem-expand, #level4 .onesem-expand {
    background-color: #d74040 !important;
}

#level5 .twosem-expand, #level5 .onesem-expand {
    background-color:#32b6d1 !important;
}

#level6 .twosem-expand, #level6 .onesem-expand {
    background-color:#ffc600 !important;
}

/* Animate Dropdowns */
.module-transition {
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    overflow-y: hidden;            
}

.module-transition-hidden {            
    max-height: 0;            
}
/* -------------------------------------- */