@media only screen and (max-width: 420px) {

    /* Martin Price - University of Worcester */
    /* Acknowledgement: Martin Sherwood for editing mistakes and simplifying my workarounds! */
    
    /* *****************************
       RESPONSIVE CSS FOR HOME PAGE
       ***************************** */
    
body {
    padding-left: 0px !important;
}
}

/* PHABLETS - MAX 650PX */

@media only screen and (max-width: 650px) {
    
body {
    padding: 0px !important;
}

/* ---------------------------------------
The following code controls the gdes no-video
identity for width and height consistency.
---------------------------------------- */
.main-identity-novideo {
    margin-top: 80px;
    width: 70vw;
    height: auto;
}
/* ---------------------------------------
The following code controls the menu change
from left to top for phablets and less
---------------------------------------- */
header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
}
    
header ul {
    padding-top: 70px;
    margin-left: 0px;
    width: 100%;
    position: relative;
}

header li {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
    
.hamburger-icon {
    padding-left: 10px;
    padding-top: 5px;
    z-index: 10;
}
 
.expand {
    background-color: rgba(0,0,0,  0.85);
    height: 110vh;
}
    
#module-links {
    display: none;
}
    
    .main-identity-novideo {
        display: block !important;
    }
    
    #background-video {
        display: none;
    }
/* ---- [ END MENU RESPONSIVE CODE ] ---- */
}

/* NB: General mobile responsiveness ends here - specific changes below */
/* --------------- [NEWS SECTION - HOME PAGE] --------------- */
/* Getting rid of columns as the screen gets smaller */
/* Column 4 disappears */

@media only screen and (max-width: 1650px) {
.one-quarter-last {
    display: none !important;
}
    
.story {
    max-width: 350px;
    width: 30%;
    margin-right: 5%;
}
    
.one-third-last {
    margin-right: 0;
}

.story p {
    max-width: 350px;
}
}
/* ----------------------------------------- */

/* Columns three and four disappear */
@media only screen and (max-width: 1150px) {
.one-quarter-last {
    display: none !important;
}
    
.one-third-last {
    display: none !important;
}
    
.one-half-last {
    margin-right: 0;
}
    
.story {
    display: block;
    width: 40%;
    float: left;
    margin-right: 10%;
}   
}
/* ----------------------------------------- */

/* STACKED */
@media only screen and (max-width: 700px) {
.one-quarter-last {
    display: none !important;
}
    
.one-third-last {
    display: none !important;
}
    
.one-half-last {
    border-bottom: none !important;
}
    
.story {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 2px #d6d6d6;
}
    
#news-home {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
}
    
    .fa-3x {
        font-size: 2em !important;
}